*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  width:1440px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

header{
  border:1px solid black;
  width:38%;
  margin:0 33%;
  text-align: center;
}

h1{
  line-height: 1.3;
}

h1 span{
  font-weight: 100;
}

header p {
  display: inline-block;
}

.container{
  display: grid;
}

.item-1{
  border:1px solid cyan;
  width: 17%;
  height: 100%;
  padding: 2% 4% 2% 2%;
  position: relative;
  left:19%;
  top:10.7rem;
}

.item-2{
  border:1px solid red;
  width: 17%;
  height: 100%;
  padding: 2% 4% 2% 2%;
  position: relative;
  left:41.5%;
  bottom: 10rem;
}

.item-3{
  border:1px solid orange;
  width: 17%;
  height: 100%;
  padding: 2% 4% 2% 2%;
  position: relative;
  top:-7rem;
  left:41.5%;
}

.item-4{
  border:1px solid blue;
  width: 17%;
  height: 100%;
  padding: 2% 4% 2% 2%;
  position: relative;
  top:-474px;
  left:64%;
}

.image{
  position: relative;
  left:13rem;
  top:2rem;
  margin-bottom:10%;
  width:64px;
  height:64px;

}
