*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  overflow: hidden;
  background-color: #FAFAFA;
  font-size:15px;
  font-family: "Poppins", sans-serif;
}

h1 span {
  color: hsl(229, 6%, 66%);
  font-weight: lighter;
}

header p {
  color: hsl(229, 6%, 66%);
}



.container{
  display: grid;
  width:1440px;
  height:100vh;
  grid-template-columns: .9fr .9fr .9fr;
  grid-template-rows:  1.2fr 1.2fr 1.2fr 1.2fr 1.2fr;
  grid-template-areas:
  "item-1 item-1 item-1"
  ". item-3. "
  "item-2 . item-5"
  ". item-4 . "
  "item-6 item-6 item-6"
}

.item-1{
  grid-area:item-1;
  margin:0 auto;
  line-height: 1.6;
  text-align: center;
}

.item-2{
  grid-area:item-2;
  border:5px solid;
  border-color:hsl(180, 62%, 55%) #FFF #FFF;
  margin: 0 auto;
  padding:10%;
  width:60%;
  position: relative;
  bottom:27%;
  left:13%;
  background-color:#FFF;
}

.item-2 p {
  color:hsl(229, 6%, 66%);
  margin-top:5%;
  line-height: 1.7;
}

.item-3 p {
  color:hsl(229, 6%, 66%);
  margin-top:5%;
  line-height: 1.7;
}

.item-4 p {
  color:hsl(229, 6%, 66%);
  margin-top:5%;
  line-height: 1.7;
}

.item-5 p {
  color:hsl(229, 6%, 66%);
  margin-top:5%;
  line-height: 1.7;
}


.item-3{
  grid-area:item-3;
  border:5px solid;
  border-color:hsl(0, 78%, 62%) #FFF #FFF;
  margin: 0 auto;
  padding:10%;
  width:60%;
  position: relative;
  top:18%;
  background-color:#FFF;
}

.item-4{
  grid-area:item-4;
  border:5px solid;
  border-color:hsl(34, 97%, 64%) #FFF #FFF;
  margin: 0 auto;
  padding:10%;
  width:60%;
  position: relative;
  bottom:75%;
  background-color:#FFF;
}

.item-5{
  grid-area:item-5;
  border:5px solid;
  border-color:hsl(212, 86%, 64%) #FFF #FFF;
  margin: 0 auto;
  padding:10%;
  width:60%;
  position: relative;
  bottom:27%;
  right:13%;
  background-color:#FFF;
}

.item-6{
  grid-area:item-6;
  margin:0 auto;
}

.item-7{
  grid-area:item-7;
}

.image{
  float:right;
  margin-top:10%;
}

@media only screen and (max-width: 376px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows:1fr 4fr .4fr .4fr .4fr 1fr;
    grid-template-areas:
    "item-1"
    "item-2"
    "item-3"
    "item-4"
    "item-5"
    "item-6"
  }
  *{
    padding: 0;
    margin:0;
    all:unset;
  }

  .item-1{
    font-size:30px;

  }

  .item-2{
    font-size:30px;
    margin:0;
    width:100vw;
    height: 50vh;
    padding:0;
  }

  .item-3{
    font-size:30px;
  }

  .item-4{
    font-size:30px;
  }

  .item-5{
    font-size:30px;
  }

  .item-6{
    font-size:30px;
  }
}
